@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --heading1: #2759a9;
  --p1heading1: #ad172b;
  --p2heading1: #7c8190;
  --p3heading1: #be1f24;
  --p4heading1: #54ad3b;
  --light-para: #787878;
  --hard-light: #75767a;
  --heading2: #0f56b7;
  --heavy-para: #8e8e92;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  /* border: 1px solid red; */
  height: 180px;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-sec {
  width: 1200px;
  display: flex;
  justify-content: space-around;
}

/************************************************************** Header section *********************************************/
.header-col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 23%;
  height: 70px;
  padding-top: 0.5rem;
}
.header-logo {
  position: relative;
  top: -0.7rem;
  width: 100%;
  max-width: 200px;
}
.header-col-2 {
  display: block;
  width: 78%;
}
.hamburger {
  display: none;
}
.nav-list1 {
  list-style-type: none;
  display: flex;
  margin-top: 1rem;
  /* border: 1px solid black; */
  flex-direction: row;
  padding: 0.5rem;
  width: auto;
  position: relative;
  left: 0;
  /* top: -0.3rem; */
  right: 0%;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}
.nav-item1 {
  position: relative;
  padding: 0;
  padding-bottom: 0.5rem;
  /* border: 1px solid black; */
}
.nav-links1 {
  /* border: 1px solid red; */
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
  padding-bottom: 5px;
  font-weight: 600;
}
.active-link {
  color: var(--heading1);
}
.nav-links1:hover {
  color: var(--heading1);
  cursor: pointer;
}
.nav-links1::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 300ms;
}
.nav-item1:hover .nav-links1::after {
  left: 5%;
  right: 5%;
  width: 90%;
}
.nav-links1:active {
  /* border-bottom: 2px solid black; */
}
.nav-links1:hover,
.nav-links1:focus {
  /* border-bottom: none; */
}
.nav-item1:hover .link-arrow {
  writing-mode: vertical-lr;
  padding: 0rem 0rem;
}
/****************************************** SECTION 1 ********************************/
.container {
  width: 1200px;
  margin: 0 auto;
}
.section1 {
  height: 500px;
  margin: 0 auto;
  width: 1200px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.sec1-heading-div {
  line-height: 1.3;
  margin-top: 70px;
  /* border: 1px solid red; */
  width: 59%;
  float: right;
  margin-bottom: 20px;
}
.heading1 {
  /* border: 1px solid red; */
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  color: var(--heading1);
  font-size: 55px;
  margin-left: 2rem;
  margin-top: 2rem;
  font-weight: 700;
}

.heading2 {
  /* border: 1px solid red; */
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  color: var(--heading1);
  font-size: 35px;
  margin-left: 2rem;
  margin-bottom: 2.2rem;
  font-weight: 400;
}

.sec1-img-div {
  /* border: 1px solid red; */
  width: 40%;
  float: left;
}
.img1 {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 450px;
}
.sec1-para-div {
  /* border: 1px solid red; */
  line-height: 1.2;
  width: 59%;
  float: right;
}
.para {
  /* border: 1px solid red; */
  width: 75%;
  font-size: 20px;
  color: var(--light-para);
  margin-left: 2rem;
}
/********************** P1-Section1 *******************/
.text-container {
  /* border: 2px solid black; */
}
.p1-heading1 {
  margin: 0;
  /* border: 1px solid white; */
  color: white;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  text-transform: uppercase;
}
.p1-heading2 {
  margin: 0;
  /* border: 1px solid black; */
  text-align: center;
  color: white;
}
.p1-hero-btn {
  /* border: 1px solid white; */
  background-color: var(--p1heading1);
  font-size: 28px;
  color: white;
  text-align: center;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1rem 3rem;
  display: block;
  margin: 4rem auto;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  transition: all 300ms;
}
.p1-hero-btn:hover,
.p1-hero-btn:focus {
  background-color: white;
  color: var(--p1heading1);
  cursor: pointer;
}

/********************** P1-Section2 *******************/
.p1-section2 {
  /* border: 1px solid red; */
  width: 1200px;
  margin: 2.5rem auto;
  margin-bottom: 0rem;
  padding: 1rem 0;
}

.p1-sec2-heading {
  color: var(--p1heading1);
  text-align: center;
  /* border: 1px solid black; */
  margin-left: 0;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.p1-sec2-para {
  text-align: center;
  width: 70%;
  /* border: 1px solid black; */
  margin-left: 0;
  margin: 0 auto;
}
.p1-line {
  margin: 3rem auto !important;
}
/********************** P1-Section3 *******************/
.p1-section3 {
  /* border: 1px solid black; */
  width: 1200px;
  margin: 0 auto;
}
.p1-sec3-heading2 {
  color: var(--p1heading1);
  text-align: center;
  font-weight: 700;
  margin-left: 0;
}
.p1-sec3-row {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.p1-sec3-row div {
  /* border: 1px solid black; */
  background-color: #f3f3f3;
  width: 32%;
  padding: 0.5rem;
  padding-bottom: 3rem;
}
.p1-logo {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 75px;
}
.p1-sec3-logo {
  margin-top: 0.7rem;
  margin-left: 2rem;
}
.p1-sec3-para {
  /* border: 1px solid yellow; */
}
.sec3-heading {
  /* border: 1px solid red; */
  color: var(--p1heading1);
  font-weight: 700;
}
/********************** P1-Section4 *******************/
.p1-Section4 {
  width: 100%;
  margin: 0 auto;
  margin-top: 12rem;
  background-color: #f3f3f3;
  padding: 2rem 0;
}
.p1-section4 {
  /* border: 1px solid red; */
  width: 1200px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.p1-sec4-heading1 {
  color: var(--p1heading1);
  margin-left: 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.p1-picture {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 23%;
}
.p1-sec4-pictures {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
}
.p1-sec4-heading {
  font-family: "Roboto Condensed";
  /* border: 1px solid yellow; */
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 700;
  margin-left: 0.3rem;
}
.p1-color {
  color: var(--heading1);
}
.p2-color {
  color: var(--p2heading1);
}
.p3-color {
  color: var(--p3heading1);
}
.p4-color {
  color: var(--p4heading1);
}
/********************** P1-Section5 *******************/
.p1-section5 {
  /* border: 1px solid red; */
  width: 1200px;
  margin: 5rem auto;
  padding: 1rem 0;
}

.p1-sec5-heading {
  color: var(--p1heading1);
  text-align: center;
  /* border: 1px solid black; */
  margin-left: 0;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.p1-sec5-para {
  text-align: center;
  width: 70%;
  /* border: 1px solid black; */
  margin-left: 0;
  margin: 0 auto;
}
.p1-section6-heading {
  width: 1200px;
  margin-left: 0;
  text-align: center;
  font-weight: 700;
  margin: 3rem auto;
  margin-top: 7rem;
  font-size: 35px;
  color: #3f3f3f;
}
/****************************************** SECTION 2 ********************************/

.sec2-img1 {
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

.video1 {
  display: block;
  width: 100%;
  min-width: 350px;
}
.video1:hover {
  cursor: pointer;
  opacity: 0.9;
}
.video2 {
  display: none;
}
/********************************* lightbox **********************************/
.modal1 {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  transition: all 400ms;
}

/* Modal Content */
.modal-content1 {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* The Close Button */
.close1 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 5rem;
}

.close1:hover,
.close1:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}
.lightbox-video {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
}
/* .demo {
		opacity: 0.6;
	  }
	  
	  .active,
	  .demo:hover {
		opacity: 1;
	  } */

/* 	  
	  .hover-shadow:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  } */

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.parent {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.sec2-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin-bottom: 0rem;
  opacity: 0.9;
}
.p1-hero {
  /* border: 1px solid black; */
  height: 480px;
  opacity: 1;
}
.text-container {
  width: 1200px;
  margin: 0 auto;
  height: 300px;
  position: relative;
}
.sec2-h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 55px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
}
.carousel-item p {
  /* border: 1px solid red; */
  color: #787878;
  font-weight: 400;
  width: 70%;
  font-size: 25px;
  text-align: center;
}
.fa-chevron-left,
.fa-chevron-right {
  /* border: 1px solid black; */
  color: var(--light-para);
  font-size: 1.7rem;
}
.carousel-indicators {
  position: absolute;
  top: 100px;
}

.testislide {
  width: 100% !important;
  margin-left: 0px !important;
}
/* 
.arrow {
  position: absolute;
  top: 53%;
  font-size: 1.7rem;
  transform: translateY(-53%);
  z-index: 5;
  color: var(--light-para);
}
.arrow-right {
  right: 0rem;
}
.arrow-right:hover {
  cursor: pointer;
}
.arrow-left {
  left: 0rem;
}
.arrow-left:hover {
  cursor: pointer;
} */
.slideshow-container {
  position: relative;
}
.mySlides {
  opacity: 0;
  left: 20%;
  transition: all 300ms;
}
.slide-toggle {
  border: 1px solid red;
  display: block;
  left: 50%;
  opacity: 1;
}
.fade {
  /* -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; */
}
@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotActive,
.dot:hover {
  background-color: #717171;
} */

/***************************************** SECTION 3*************************************/
.section3 {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 70px;
}
.section3 .mobile-h2 {
  display: none;
}
.section3 .heading2 {
  margin-left: 0;
  font-size: 55px;
  margin-bottom: 1.4rem;
  font-weight: 700;
}
.section3 .para {
  margin-left: 0;
  text-align: left;
  width: 90%;
  font-size: 22px;
  line-height: 1.3;
}
/********************************* section4 ***********/
.section4 {
  margin-top: 70px;
  margin-bottom: 2rem;
}
.sec4-div {
  display: flex;
}
.col1 {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.sec4-btn {
  text-align: left;
  color: var(--heading1);
  border: none;
  outline: none;
  font-size: 22px;
  padding: 1rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
}
.sec4-btn:hover,
.sec4-btn:focus {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}
.col2 {
  width: 70%;
}
.mobile-info,
.mobile-decision,
.mobile-order,
.mobile-relationship {
  display: none;
}
.info {
  background-color: rgb(243, 243, 243);
}
.info,
.decision,
.order,
.relationship {
  padding: 1rem;
}
.sec4-para {
  width: 85%;
  padding-top: 0rem;
  padding-left: 2rem;
  font-size: 1.4rem;
  color: var(--heavy-para);
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 600;
}
.sec4-accordian {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
  margin-bottom: 1rem;
}
.accordianCol-1 {
  width: 5%;
  /* border: 1px solid black; */
}
.sec4-logo {
  width: 100%;
  max-width: 100px;
  /* border: 1px solid blue; */
}
.accordianCol-2 {
  width: 90%;
  /* border: 1px solid yellow; */
}
.accordian-para {
  width: 75%;
  font-size: 1.4rem;
  color: var(--heading2);
  height: max-content;
  margin-bottom: 0;
}
.line {
  width: 150px;
  margin: 3rem auto;
  height: 1px;
  background-color: #787878;
  margin-top: 80px;
}

.decision {
  background-color: #f3f3f3;
  display: none;
}
.order {
  display: none;
  background-color: #f3f3f3;
}
.relationship {
  display: none;
  background-color: #f3f3f3;
}
.bg-color {
  background-color: #f3f3f3;
}
/************************************************* section5 **********************************/
.section5 {
  margin-top: 3rem;
}
.sec-5 {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
.sec-5 div {
  width: 31%;
}
.sec5-col1,
.sec5-col2,
.sec5-col3 {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  background-color: #f3f3f3;
}
.sec5-logo {
  width: 100%;
  max-width: 70px;
  margin-bottom: 1.7rem;
}
.heading3 {
  font-size: 1.4rem;
  color: var(--heading1);
  margin-bottom: 1rem;
  font-weight: 700;
}
.sec5-para {
  color: var(--light-para);
  line-height: 1.3;
  letter-spacing: 0.5px;
  padding-bottom: 2rem;
}
/************************************************* section6 **********************************/
.section6 {
  margin-bottom: 3rem;
  /* border: 1px solid red; */
}
.bottombtn {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  display: block;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: white;
  background-color: var(--heading1);
  border: none;
  outline: none;
  font-family: "Roboto Condensed";
}
.bottom-btn:hover,
.bottom-btn:focus {
  background-color: var(--heading1);
  opacity: 0.8;
  cursor: pointer;
}
.section6 .heading1 {
  text-align: center;
  padding-left: 0px;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}

.quiz {
  margin-left: 0px !important;
}
.bottombtn .arr {
  display: none;
}
/* } */
.sec5-para2 {
  display: none;
}
.sec6-question {
  color: var(--heading1);
  font-size: 1.7rem;
}
.radio-sec1 {
  /* border: 1px solid firebrick; */
  margin-left: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.radio-div {
  /* border: 1px solid black; */
  margin-bottom: 1.8rem;
}
.radio {
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  position: relative;
}
.radio:hover,
.radio:focus {
  cursor: pointer;
}
.sub {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
}
.radio-text {
  /* border: 1px solid black; */
  color: var(--heavy-para);
  font-size: 1.3rem;
  margin-left: 0.3rem;
}
.correct {
  display: none;
  color: green;
  font-size: 1.3rem;
  margin-left: 7rem;
}

.tic {
  margin-right: 1rem;
}
.radio-para {
  display: none;
  padding-top: 0.8rem;
  color: var(--heavy-para);
  font-size: 1.3rem;
  padding-left: 1.8rem;
  line-height: 1.3;
  padding-bottom: 2rem;
  position: relative;
}
.circle {
  display: inline-block;
  height: 22px;
  width: 22px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 0.5%;
  bottom: 0%;
}
.right-circle {
  background-color: green;
}
/* .all-paras {
	display: none;
} */
/* .radios {
	background-color: yellow;
} */

/* .paras {
	display: none;
} */
/* .p-hide {
	display: none;

}
.r-hide {
	background-color: transparent;

}
.sub-rad-toggle {
	background-color: var(--heading1);
}
.rad-para-toggle {
	display: block;
}
.p-hide {
	display: none;

}
.r-hide {
	background-color: transparent;

} */

.radio-div.active .correct {
  display: inline;
}
.radio-div.active .radio-para {
  display: block;
}
.radio-div.active .sub {
  background-color: var(--heading1);
}
/********************************************* pages colors ***********************************/
.p1-color {
  color: var(--heading1);
}
.p2-color {
  color: var(--p2heading1);
}
.p2-bg {
  background-color: var(--p2heading1);
}
.p3-color {
  color: var(--p3heading1);
}
.p4-color {
  color: var(--p4heading1);
}

@media (max-width: 1200px) {
  * {
    /* border: 1px solid magenta; */
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .text-container {
    width: 90%;
    margin: 0 auto;
  }
  .header {
    /* border: 1px solid red; */
    width: 100%;
  }
  .header-sec {
    width: 90%;
    margin: 0 auto;
  }

  /************************ SECTION 1 ************/
  .section1 {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .sec1-heading-div {
    margin-bottom: 0.5rem;
  }
  .heading1 {
    margin-top: 0;
    text-align: left;
    font-size: 1.8rem;
  }
  .heading2 {
    width: 90%;
    font-size: 1.4rem;
    margin-bottom: 0rem;
  }
  .sec1-img-div {
    width: 38%;
    margin-bottom: 1rem;
  }
  .sec1-para-div {
    width: 59%;
  }
  .para {
    width: 100%;
    line-height: 1.5;
    font-size: 1rem;
  }

  /************************ SECTION 2 ************/

  .sec2-img1 {
    margin-top: 1rem;
  }
  .lightbox-video {
    border: 2px solid black;
    max-width: 90%;
  }
  .sec2-h2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 2rem;
  }
  .carousel-item p {
    font-size: 1.2rem;
  }

  /************************ SECTION 3 ************/

  .section3 {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .section3 .heading2 {
    font-size: 2rem;
  }
  .section3 .para {
    font-size: 1.1rem;
  }

  /************************ SECTION 4 ************/

  .section4 {
    width: 90%;
    margin: 0 auto;
  }
  .sec4-para {
    font-size: 1.2rem;
  }

  .info,
  .order,
  .relationship,
  .decision {
    padding: 2rem 1rem;
  }
  .sec4-para {
    padding-top: 0rem;
  }
  .sec4-accordian {
    /* border: 1px solid black; */
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .sec4-accordian {
  }
  .accordianCol-1 {
    /* border: 1px solid red; */
    width: 7%;
  }
  .accordianCol-2 {
    /* border: 1px solid yellow; */
    width: 90%;
  }
  .accordian-para {
    width: 90%;
    font-size: 1.3rem;
  }
  .sec4-logo {
    max-width: 60px;
  }
  .line {
    width: 20%;
    margin: 2rem auto;
  }
  /*********************************** p1-section1 ***************/
  .p1-heading1 {
    text-align: center;
    width: 50%;
  }
  .p1-heading2 {
    width: 50%;
    text-align: center;
    margin: 1rem auto;
  }
  .p1-hero-btn {
    font-size: 24px;
    letter-spacing: 0.8px;
    padding: 0.8rem 2.4rem;
  }
  /********************** P1-Section2 *******************/
  .p1-section2 {
    width: 90%;
  }
  .p1-sec2-heading {
    width: 100%;
    margin-bottom: 1rem;
  }
  /********************** P1-Section3 *******************/
  .p1-section3 {
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
  }
  .p1-sec3-heading2 {
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 2rem;
  }
  .p1-sec3-logo {
    margin-left: 0.5rem;
  }
  .p1-logo {
    max-width: 60px;
  }
  .p1-sec3-para {
    margin-top: -1.5rem;
    margin-left: 0.5rem;
  }
  /********************************* p1-section4 *******/
  .p1-sec4-heading1 {
    width: 100%;
  }
  .p1-section4 {
    width: 90%;
  }

  .p1-sec4-heading {
    font-size: 24px;
  }
  /********************************* p1-section5 *******/
  .p1-section5 {
    width: 90%;
  }
  .p1-sec5-heading {
    width: 100%;
    margin-bottom: 1rem;
  }
  .p1-section6-heading {
    width: 90%;
  }
  .p1-sec5-para {
    width: 75%;
  }
}

@media (max-width: 970px) {
  .nav-links1 {
    /* border: 1px solid red; */
    font-size: 1rem;
  }
  /************************ SECTION 1 ************/
  .section1 {
    height: 350px;
  }
  .sec1-heading-div {
    margin-bottom: 1rem;
  }
  .heading1 {
    font-size: 1.5rem;
  }
  .heading2 {
    font-size: 1.2rem;
  }
  .para {
    font-size: 1rem;
  }
  /************************ SECTION 2 ************/
  /* .text-area h2 {
    font-size: 1.7rem;
  } */
  .sec2-h2 {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -23%);
    font-size: 1.5rem;
  }
  .carousel-item p {
    font-size: 1.1rem;
  }
  .arrow-left {
    left: 0rem;
  }
  .arrow-right {
    right: 0rem;
  }
  .close1 {
    font-size: 4rem;
  }
  /************************ SECTION 3 ************/
  .section3 .heading2 {
    font-size: 1.7rem;
  }
  .section3 .para {
    font-size: 1rem;
  }
  /************************ SECTION 4 ************/
  .sec4-btn {
    font-size: 1.2rem;
    padding: 1rem 0.3rem;
  }
  .sec4-para {
    padding-left: 1.1rem;
    font-size: 1.1rem;
  }
  .accordianCol-1 {
    width: 10%;
    margin-right: 1rem;
  }
  .accordianCol-2 {
    /* border: 2px solid black; */
    width: 90%;
  }
  .accordian-para {
    font-size: 1.1rem;
    width: 100%;
  }
  .sec4-logo {
    max-width: 60px;
  }
  /************************ SECTION 5 ************/
  .sec-5 div {
    width: 32%;
  }
  .sec5-col1,
  .sec5-col2,
  .sec5-col3 {
    /* border: 1px solid red; */
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
  }
  .sec5-logo {
    max-width: 50px;
    margin-bottom: 1rem;
  }
  .heading3 {
    font-size: 1.3rem;
  }
  .sec5-para {
    font-size: 0.93rem;
  }
  .line {
    width: 20%;
    margin: 2rem auto;
  }
  .bottombtn {
    width: 100%;
    margin: 0 auto;
    padding: 0.8rem;
    font-size: 1.7rem;
  }

  /************************ SECTION 6 ************/
  .section6 .heading1 {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    /* border: 1px solid red; */
    margin-bottom: 2rem;
    padding-left: 0rem;
    margin-left: 0;
  }
  .radio {
    height: 18px;
    width: 18px;
  }
  .circle {
    width: 18px;
    height: 18px;
  }

  .sec6-question {
    font-size: 1.4rem;
  }
  .radio-text {
    font-size: 1.1rem;
  }
  .correct {
    color: green;
    font-size: 1.2rem;
    margin-left: 4rem;
  }
  .radio-para {
    font-size: 1.1rem;
  }
  /*********************************** p1-section1 ***************/
  .p1-hero {
    height: 350px;
  }
  .p1-heading1,
  .p1-heading2 {
    margin-top: 3rem;
    width: 70%;
  }
  .p1-heading2 {
    margin-top: 1rem;
  }
  .p1-hero-btn {
    font-size: 21px;
  }
  /*********************************** p1-section4 ***************/
  .p1-Section4 {
    margin-top: 5rem;
  }
  .p1-sec4-heading1 {
    width: 100%;
  }
  .p1-sec4-heading {
    font-size: 21px;
  }
  /*********************************** p1-section5 ***************/
  .p1-section5 {
    margin: 3rem auto;
  }
  .p1-sec5-para {
    width: 90%;
  }
  .p1-section6-heading {
    margin-top: 5rem;
    font-size: 33px;
  }
}
@media (max-width: 770px) {
  .header {
    height: 80px;
    background-image: url("./images/header.jpg");
  }
  .header-sec {
    color: black;
    display: flex;
    justify-content: space-between;
  }
  .header-col-1 {
    width: 40%;
    padding-top: 0.5rem;
    height: 70px;
    display: flex;
    align-items: center;
  }
  .header-col-1 .head-heading {
    align-self: center;
    padding-bottom: 0.8rem;
    font-family: "Roboto Condensed", sans-serif;
    color: black;
  }
  .header-logo {
    max-width: 130px;
    top: -0.5rem;
    left: 0;
  }
  .header-col-2 {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /**************************************************** hamburger *******************************************************/

  .hamburger {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .hamburger-menu {
    align-self: center;
    width: 30px;
    height: 1.6px;
    background-color: black;
    transition: 0.3s all;
  }
  .hamburger-menu::before,
  .hamburger-menu::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1.6px;
    background-color: black;
    transition: all 0.3s ease-out;
  }
  .hamburger-menu::before {
    transform: translateY(-9px);
  }
  .hamburger-menu::after {
    transform: translateY(9px);
  }
  .header-col-2.active .hamburger-menu::before {
    transform: translateY(0) rotate(45deg);
  }
  .header-col-2.active .hamburger-menu::after {
    transform: translateY(0) rotate(-45deg);
  }
  .header-col-2.active .hamburger-menu {
    transform: rotate(360deg);
    background-color: transparent;
  }
  /******************************************************* End hamburger *************************************************/
  .menu-div {
    display: none;
  }
  .nav-list1 {
    /* border: 1px solid magenta; */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 98%;
    top: 4.1rem;
    left: 110%;
    padding: 3rem 0;
    background-color: black;
    opacity: 1;
    transition: all 400ms;
    box-shadow: 1px 1px 4px rgba(97, 96, 96, 0.521),
      -1px -1px 4px rgba(97, 96, 96, 0.521);
    z-index: 100;
  }
  .header-col-2.active .menu-div {
    display: block;
  }
  .header-col-2.active .nav-list1 {
    left: 1%;
    opacity: 0.9;
  }
  .nav-item1 {
    position: relative;
    padding: 1rem 0;
  }
  .nav-links1 {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: normal;
    letter-spacing: 0.8px;
  }
  .nav-links1:hover,
  .nav-links1:focus {
    color: var(--heading1);
    cursor: pointer;
    border-bottom: 1px solid var(--heading1);
  }
  .active-link {
    color: var(--heading1);
    border-bottom: 1px solid var(--heading1);
  }

  /************************ SECTION 1 ************/
  .section1 {
    width: 90%;
    height: 300px;
    padding: 0;
  }
  .sec1-heading-div {
    margin-top: 2rem;
  }
  .heading1 {
    width: 100%;
    font-size: 1.2rem;
  }
  .heading2 {
    font-size: 1rem;
  }
  .para {
    font-size: 0.8rem;
  }

  .section3 .heading2 {
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
  }
  /************************************ section 2 ******************************/
  .sec2-h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-size: 1.3rem;
  }
  .carousel-item p {
    font-size: 1rem;
  }
  /************************ SECTION 4 ************/
  .sec4-btn {
    font-size: 1.1rem;
  }
  .sec4-para {
    font-size: 20px;
  }
  .accordian-para {
    font-size: 1rem;
  }

  /* .arrow {
    top: 60%;
    transform: translateY(-60%);
  } */
  /************************ SECTION 5 ************/
  .sec5-logo {
    max-width: 40px;
  }
  .heading3 {
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
  }
  .sec5-para {
    font-size: 0.8rem;
  }
  .bottombtn {
    font-size: 1.4rem;
  }
  /************************ SECTION 6 ************/
  .section6 .heading1 {
    font-size: 1.5rem;
  }
  .sec6-question {
    font-size: 1rem;
  }
  .radio-div {
    margin-bottom: 0.8rem;
  }
  .radio {
    top: 3px;
  }
  .radio-text {
    font-size: 0.9rem;
  }
  .correct {
    font-size: 1rem;
    margin-left: 3rem;
  }
  .tic {
    margin-right: 0.4rem;
  }
  .radio-para {
    font-size: 0.9rem;
    padding-bottom: 1.2rem;
  }
  /*********************************** p1-section1 ***************/
  .p1-hero {
    height: 280px;
  }
  .p1-heading1 {
    width: 70%;
    margin-top: 4rem;
  }
  .p1-heading2 {
    margin-top: 0.7rem;
  }
  .p1-hero-btn {
    margin-top: 3rem;
    font-size: 19px;
    padding: 0.5rem 2rem;
  }
  /*********************************** p1-section3 ***************/
  .p1-sec3-heading2 {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  /*********************************** p1-section4 ***************/
  .p1-Section4 {
    margin-top: 4rem;
  }
  .p1-sec4-heading1 {
    width: 100%;
  }
  .p1-sec4-heading {
    font-size: 18px;
  }
  /*********************************** p1-section5 ***************/
  .p1-sec5-heading {
    margin-bottom: 1rem;
  }
  .p1-sec5-para {
    width: 100%;
  }
  .p1-section6-heading {
    margin-top: 4rem;
  }
}

@media (max-width: 530px) {
  /**************************** section1 *************/
  .sec1-heading-div,
  .sec1-img-div,
  .sec1-para-div {
    float: none;
    width: 100%;
  }
  .section1 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .sec1-heading-div {
    margin-bottom: 1.6rem;
  }
  .heading1 {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0;
    font-size: 1.8rem;
  }
  .heading2 {
    margin: 0;
    width: 100%;
    font-size: 1.17rem;
  }
  .sec1-img-div {
    margin-bottom: 0.8rem;
  }
  .img1 {
    /* border: 1px solid black; */
  }
  .sec1-para-div {
  }
  .para {
    margin: 0;
    font-size: 18px;
  }
  /**************************** section2 *************/
  .sec2-img1 {
    margin: 1.5rem auto;
  }
  .video1 {
    display: none;
  }
  .video2 {
    /* border: 1px solid red; */
    display: block;
    width: 100%;
    max-width: 170px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .video2:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  .close1 {
    font-size: 3rem;
  }
  .lightbox-video {
    max-width: 350px;
  }
  .parent {
    /* border: 1px solid red; */
    background-image: none !important;
    width: 100%;
  }
  .sec2-carousel {
    background-image: linear-gradient(
      to right,
      #2759a9,
      #2759a9,
      #2759a9
    ) !important;
    opacity: 1;
    height: 250px;
    margin-bottom: 0rem;
  }
  .text-container {
    width: 92%;
  }

  .sec2-h2 {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -22%);
    font-size: 1.8rem;
    color: white;
  }
  .fa-chevron-left,
  .fa-chevron-right {
    color: white;
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .carousel-item p {
    width: 70% !important;
    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
    color: white;
    position: relative;
    left: 15%;
  }
  /**************************** section3 *************/

  .section3 .heading2 {
    /* border: 1px solid red; */
    font-size: 2.2rem;
    margin-bottom: 0.9rem;
  }
  .section3 .para {
    /* border: 1px solid red; */
    width: 100%;
    font-size: 1.6rem;
  }
  /**************************** section4 *************/
  .sec4-div {
    /* border: 1px solid black; */
    flex-direction: column;
  }
  .col1 {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
  }
  .sec4-btn {
    /* border: 1px solid yellow; */
    background-color: #f3f3f3;
    font-size: 1.4rem;
    padding: 1.5rem 1rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.8px;
  }
  .mobile-info,
  .mobile-decision,
  .mobile-order,
  .mobile-relationship {
    display: none;
    padding: 2rem 1rem;
    background-color: white;
    width: 98%;
    margin: 0 auto;
    box-shadow: 1px 1px 2px var(--heading1), -1px -1px 2px var(--heading1);
    margin-bottom: 0.5rem;
    transition: all 300ms;
  }
  /* .sec4-btn:hover , .sec4-btn:focus {
		background-color: var(--heading1);
		color: none;
	} */
  .mobile-info {
    display: block;
  }

  .col1 .bg-color1 {
    background-color: var(--heading1);
    color: white;
  }

  .col1 .bg-color2 {
    background-color: var(--heading1);
    color: white;
  }
  .hide-show1 {
    display: none;
  }
  .hide-show {
    display: block;
  }
  .mobile-info,
  .mobile-order,
  .mobile-relationship,
  .mobile-decision {
    /* border: 1px solid red; */
    padding: 1rem;
    padding-left: 0.5rem;
  }
  .sec4-accordian {
    /* border: 1px solid red; */
  }
  .accordianCol-1 {
    /* border: 1px solid red; */
    width: 15%;
    margin-right: 0.5rem;
  }
  .accordianCol-2 {
    /* border: 1px solid black; */
    width: 85%;
  }
  .sec4-logo {
    max-width: 60px;
  }
  .accordian-para {
    font-size: 18px;
  }

  .col2 {
    display: none;
  }
  .line {
    height: 1px;
    border-width: 1px;
  }

  .second {
    display: none;
  }
  .section3 .mobile-h2 {
    display: block;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
    color: var(--heading1);
    font-weight: 700;
  }
  .line {
    margin: 2rem auto;
  }
  /**************************** section5 *************/
  .section5 {
    /* border: 2px solid yellow; */
    overflow-x: auto;
  }
  .sec-5 {
    /* border: 2px solid black; */
    width: 880px;
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .sec-5 div {
    width: 80vw;
    margin: 0;
    margin-left: 0.5rem;
    /* border: 1px solid red; */

    margin-bottom: 1rem;
  }
  .sec5-col1,
  .sec5-col2,
  .sec5-col3 {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1.5rem;
    padding: 2rem 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    margin: 0;
  }
  .sec5-logo {
    max-width: 80px;
    margin-bottom: 2rem;
  }
  .heading3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .sec5-para {
    /* font-size: 1.2rem;
		padding-bottom: 0rem; */
    display: none;
  }
  .sec5-para2 {
    display: block;
    font-size: 1.3rem;
    padding-bottom: 0;
    color: var(--light-para);
    width: 100%;
  }
  /**************************** section6 *************/
  .bottombtn {
    text-align: center;
    font-size: 1.2rem;
  }
  .section6 .heading1 {
    font-size: 26px;
  }
  .bottombtn .arr {
    position: relative;
    top: -0.1rem;
    left: 0.2rem;
    display: inline;
    font-size: 0.9rem;
    padding: 0;
  }
  .sec6-question {
    font-size: 22px;
    line-height: 1.2;
  }
  .radio-text {
    font-size: 18px;
  }
  .correct {
    font-size: 0.8rem;
    margin-left: 2rem;
  }
  .radio-para {
    font-size: 18px;
  }
  .p1-hero {
    background-image: linear-gradient(
      to right,
      #ad172b,
      #ad172b,
      #ad172b
    ) !important;
    height: 300px;
  }
  /********************* p1-section1 ******************/
  .p1-heading1 {
    width: 100%;
    margin-top: 2.5rem;
    font-size: 1.6rem;
  }
  .p1-heading2 {
    margin-top: 0.5rem;
    font-size: 1.4rem;
  }
  .p1-hero-btn {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  /********************* p1-section2 ******************/
  .p1-section2 {
    margin: 1rem auto;
    padding: 0.5px 0;
  }
  .p1-sec2-heading {
    font-size: 22px;
    margin-bottom: 0.5rem;
  }
  .p1-sec2-para {
    font-size: 18px;
  }
  /********************* p1-section3 ******************/
  .p1-section3 {
  }
  .p1-sec3-heading2 {
    font-size: 22px;
    margin-bottom: 0.5rem;
  }

  .p1-sec3-div {
    overflow-x: auto;
  }
  .p1-sec3-row {
    /* border: 1px solid red; */
    width: 880px;
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: transparent;
  }
  .p1-sec3-row > div {
    width: 80vw;
    margin: 0;
    margin-left: 0.5rem;
    /* border: 1px solid red; */

    margin-bottom: 1rem;
    padding-left: 1rem;
  }
  .p1-sec3-logo {
    margin-left: -0.5rem;
  }
  .p1-logo {
    /* border: 1px solid black; */
    max-width: 80px;
  }
  .p1-sec3-para {
    margin-top: -2rem;
  }

  /********************* p1-section4 ******************/
  .p1-Section4 {
    padding-bottom: 0rem;

    margin-bottom: 1rem;
  }
  .p1-sec4-heading1 {
    width: 100%;
    font-size: 22px;
  }
  .p1-section4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
  }
  .p1-sec4-heading {
    text-align: center;
    align-self: center;
    font-size: 24px;
  }
  .p1-picture {
    width: 90%;
    margin-bottom: 2rem;
  }
  .p1-sec4-pictures {
    align-self: center;
  }
  /********************* p1-section5 ******************/
  .p1-section5 {
    /* border: 1px solid red; */
    margin-top: 0rem;
    padding-top: 0;
  }
  .p1-sec5-heading {
    font-size: 22px;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
  .p1-sec5-para {
    font-size: 18px;
  }
  .p1-section6-heading {
    font-size: 30px;
  }
  /************************************ pages colors ********************/
  .p1-color {
    color: var(--heading1);
  }
  .p2-color {
    color: var(--p2heading1);
  }
  .p2-bg {
    background-color: var(--p2heading1);
  }
  .section3 .p2-color {
    color: var(--p2heading1);
  }
  .col1 .p2-bg-color.bg-color1 {
    background-color: var(--p2heading1);
    color: white;
  }

  .col1 .p2-bg-color.bg-color2 {
    background-color: var(--p2heading1);
    color: white;
  }
  .p2-bg-color ~ .mobile-info,
  .p2-bg-color ~ .mobile-decision,
  .p2-bg-color ~ .mobile-order,
  .p2-bg-color ~ .mobile-relationship {
    box-shadow: 1px 1px 2px var(--p2heading1), -1px -1px 2px var(--p2heading1);
  }
  .p3-color {
    color: var(--p3heading1);
  }
  .p4-color {
    color: var(--p4heading1);
  }
}
@media (max-width: 395px) {
  /************************************ section 1**********/

  .heading1 {
    font-size: 30px;
  }
  .heading2 {
    font-size: 22px;
  }
  .sec2-h2 {
    font-size: 1.5rem;
  }
  .carousel-item p {
    font-size: 1.2rem;
  }
  .fa-chevron-right,
  .fa-chevron-left {
    font-size: 1.2rem;
  }
  .section3 .heading2 {
    font-size: 2rem;
  }
  .section3 .para {
    font-size: 18px;
  }
  .bottombtn {
    font-size: 19px;
  }
  .bottombtn .arr {
    top: -0.2rem;
    font-size: 0.7rem;
    padding-left: 0.1rem;
  }
  .p1-hero-btn {
    margin-top: 1rem;
    font-size: 19px;
  }
}

.margin-top {
  margin-top: 40px;
}
